<section class="w-full mx-auto py-4">
  <div class="border border-orange-400 rounded-xl p-6 mb-4">
    <p class="text-sm md:text-base text-orange-500 !leading-8">
      A domain name can be registered with up to 63 characters, so I registered <a
        href="https://loooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo.ong"
        title="Long"
        class="break-all text-orange-400 hover:text-orange-500 transition duration-300"
        >loooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo.ong</a
      >.
      <br />
      Then I created an interesting URL lengthening tool, which is this page you're
      seeing now.
      <br />
      The maximum length for a domain name is 253 characters, hence <a
        target="_blank"
        href="https://loooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo.ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo.oooooooooooooooooooooooooooooooooooooooooooooooonger.than.loooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo.ong"
        title="Longer than Long"
        class="text-orange-400 hover:text-orange-500 transition duration-300">Longer than Long</a
      > was born.
      <br />
      I encountered quite a few issues during the process, which I've documented
      in this <a
        target="_blank"
        href="https://github.com/ccbikai/loooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo.ong/issues/2"
        title="Github Issue"
        class="text-orange-400 hover:text-orange-500 transition duration-300">Github Issue</a
      >. Feel free to join the discussion.
    </p>
  </div>
  <Fragment set:html={import.meta.env.CONTENT_INJECT} />
</section>

