<section>
  <fieldset>
    <p>
      A domain name can be registered with up to 63 characters, so I registered <a
        href="https://loooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo.ong"
        title="Long"
        >loooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo.ong</a
      >.
      <br />
      Then I created an interesting URL lengthening tool, which is this page you're
      seeing now.
      <br />
      The maximum length for a domain name is 253 characters, hence <a
        target="_blank"
        href="https://loooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo.ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo.oooooooooooooooooooooooooooooooooooooooooooooooonger.than.loooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo.ong"
        title="Longer than Long">Longer than Long</a
      > was born.
      <br />
      I encountered quite a few issues during the process, which I've documented
      in this <a
        target="_blank"
        href="https://github.com/ccbikai/loooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo.ong/issues/2"
        title="Github Issue">Github Issue</a
      >. Feel free to join the discussion.
    </p>
  </fieldset>
  <Fragment set:html={import.meta.env.CONTENT_INJECT} />
</section>

<style>
  fieldset {
    width: auto;
    margin-bottom: 1rem;
  }

  p {
    margin: 0.5rem 0;
    word-break: break-all;
  }
</style>
