<footer>
  <p>
    <a
      target="_blank"
      href="https://loooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo.ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo.oooooooooooooooooooooooooooooooooooooooooooooooonger.than.loooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo.ong"
      title="Longer than Long">Longer than Long</a>
  </p>
  <p>
    Made by <a href="https://x.com/ccbikai" target="_blank" title="ccbikai"
      >ccbikai</a
    > & <a href="https://chatgpt.com/" target="_blank" title="ChatGPT"
      >ChatGPT</a>
  </p>
  <p>
    Inspired By <a href="https://llili.li" target="_blank" title="llIlI.lI"
      >llIlI.lI</a
    >
  </p>
</footer>

<style>
  footer {
    margin: 1rem;
  }
  p {
    margin: 0;
  }
</style>
