<footer class="py-6 border-t border-dashed border-orange-400">
  <div class="text-center space-y-2">
    <p>
      <a
        target="_blank"
        href="https://loooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo.ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo.oooooooooooooooooooooooooooooooooooooooooooooooonger.than.loooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo.ong"
        title="Longer than Long"
        class="text-orange-400 hover:text-orange-500 transition duration-300">
        Longer than Long
      </a>
    </p>
    <p class="text-sm text-orange-500">
      Made by <a href="https://404.li/x" target="_blank" title="Kai Bi"
        class="text-orange-400 hover:text-orange-500 transition duration-300">Kai Bi</a
      > & <a href="https://www.cursor.com/" target="_blank" title="Cursor"
        class="text-orange-400 hover:text-orange-500 transition duration-300">Cursor</a>
    </p>
    <p class="text-sm text-orange-500">
      Inspired By <a href="https://llili.li" target="_blank" title="llIlI.lI"
        class="text-orange-400 hover:text-orange-500 transition duration-300">llIlI.lI</a>
    </p>
  </div>
</footer>
