---
import config from "../config.js";
---

<header class="p-6 border-orange-400">
  <a href="/" title={config.title} class="block text-center no-underline">
    <h1 class="text-4xl md:text-5xl font-semibold text-orange-500 my-4 font-sans">{config.title}</h1>
  </a>
  <p class="break-all text-center text-xl text-orange-500 my-6 md:my-12">
    Make your URL
    <br />
    looooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooonger
  </p>
  <nav>
    <ul class="flex justify-center gap-6">
      <li>
        <a
          target="_blank"
          href="https://github.com/ccbikai/loooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo.ong"
          title="Github"
          class="block bg-white text-orange-400 py-2 px-6 rounded-full border border-orange-400 hover:bg-orange-100 transition duration-300">Github</a>
      </li>
      <li>
        <a
          target="_blank"
          href="https://buymeacoffee.com/miantiao"
          title="Donate"
          class="block bg-white text-orange-400 py-2 px-6 rounded-full border border-orange-400 hover:bg-orange-100 transition duration-300">Donate</a>
      </li>
    </ul>
  </nav>
</header>
