---
import config from "../config";
---
<header>
  <h1>{config.title}</h1>
  <p>Make your URL looooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooonger</p>
  <nav>
    <ul>
      <li><a target="_blank" href="https://github.com/ccbikai/loooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo.ong">Github</a></li>
      <li><a target="_blank" href="https://buymeacoffee.com/ccbikai">Donate</a></li>
    </ul>
  </nav>
</header>

<style>
  header {
    margin: 0;
  }
  h1 {
    font-size: 2.4rem;
    padding-top: 1.2rem;
    margin-top: 1rem;
  }

  p {
    text-align: center;
    word-break: break-all;
    margin: 0;
  }

  ul {
    display: flex;
    justify-content: center;
    gap: 1rem;

    li {
      margin: 0;
    }
  }
</style>