---
import config from "../config";
---

<header>
  <a href="/" title={config.title}><h1>{config.title}</h1></a>
  <p class="break-all">
    Make your URL
    looooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooonger
  </p>
  <nav>
    <ul>
      <li>
        <a
          target="_blank"
          href="https://github.com/ccbikai/loooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo.ong"
          title="Github">Github</a>
      </li>
      <li>
        <a
          target="_blank"
          href="https://buymeacoffee.com/ccbikai"
          title="Donate">Donate</a>
      </li>
    </ul>
  </nav>
</header>

<style>
  header {
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  h1 {
    font-size: 2.4rem;
    padding-top: 1.2rem;
    margin-top: 1rem;
    font-family "Averia Libre", serif;
  }

  p {
    text-align: center;
    margin: 0;
  }

  .break-all {
    word-break: break-all;
  }

  ul {
    display: flex;
    justify-content: center;
    gap: 1rem;

    li {
      margin: 0;
    }
  }
</style>
