<section>
  <fieldset>
    <legend>Origin URL</legend>
    <input
      id="origin-url"
      type="url"
      placeholder="https://loooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo.ong"
    />
  </fieldset>
  <fieldset>
    <legend>Long URL</legend>
    <textarea id="long-url" rows="6" readonly class="break-all" aria-labelledby="Display Long URL"></textarea>
    <button id="open-url">Open URL</button>
    <button id="copy-url">Copy URL</button>
  </fieldset>
</section>

<style>
  fieldset {
    width: auto;
    margin-bottom: 1rem;
  }

  input,
  textarea {
    width: 100%;
    resize: none;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding: 0.4rem;
    font-family: "Caveat", serif;
  }

  input:hover,
  textarea:hover {
    margin-bottom: 1rem;
  }

  input:focus,
  textarea:focus {
    margin-bottom: 1rem;
  }

  input::placeholder {
    color: #897a69;
  }

  button {
    margin-top: 0;
  }

  .break-all {
    word-break: break-all;
  }
</style>

<script src="../assets/js/tool.js"></script>
